<!-- Componente Gif -->

<div class="row">
    <div class="col-4 border-right">
        <h3>Array.map</h3>
        <h6>map all values to an expression</h6>
        <br>
        <img alt="" class="rg rh fq n o fp af fn" width="360" height="187" role="presentation" data-toggle="modal"
            data-target="#modalMap" src="https://miro.medium.com/max/1257/1*4EGwsCicbWJeml2aAm714A.gif">
    </div><!-- End Col -->
    <div class="col-4 border-right border-left">
        <h3>Array.filter</h3>
        <h6>keep all that match a condition</h6>
        <br>
        <img alt="" class="rg rh fq n o fp af fn" width="360" height="187" role="presentation" data-toggle="modal"
            data-target="#modalFilter" src="https://miro.medium.com/max/1257/1*TOPYVvfMBmjajPh-fqZ9GQ.gif">
    </div><!-- End Col -->
    <div class="col-4 border-left">
        <h3>Array.reduce</h3>
        <h6>reduce all items to a single value</h6>
        <br>
        <img alt="" class="rg rh fq n o fp af fn" width="360" height="187" role="presentation" data-toggle="modal"
            data-target="#modalReduce" src="https://miro.medium.com/max/1257/1*dhTC_FFgiH3mKROrnDj12w.gif">
    </div><!-- End Col -->
</div><!-- End Row -->

<!-- Modal Map -->
<div class="modal fade" id="modalMap" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img ng-src="https://miro.medium.com/max/1257/1*4EGwsCicbWJeml2aAm714A.gif" width="700px;height:auto;"
                    alt="Imagen del filtro." width="100%">
            </div>
        </div>
    </div>
</div>

<!-- Modal Filter -->
<div class="modal fade" id="modalFilter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img ng-src="https://miro.medium.com/max/1257/1*TOPYVvfMBmjajPh-fqZ9GQ.gif" width="700px;height:auto;"
                    alt="Imagen del filtro." width="100%">
            </div>
        </div>
    </div>
</div>

<!-- Modal Reduce -->
<div class="modal fade" id="modalReduce" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img ng-src="https://miro.medium.com/max/1257/1*dhTC_FFgiH3mKROrnDj12w.gif" width="700px;height:auto;"
                    alt="Imagen del filtro." width="100%">
            </div>
        </div>
    </div>
</div>

<!-- End Componente Gif -->