<h1>Profesor</h1>

<div class="mb-5" ng-controller="profesorCtrl as pc">
    <h4>{{profesor.nombre | uppercase}}</h4>
    <hr>

    <div class="row mb-3">

        <!-- Div que contiene la imagen del profesor -->
        <div class="col-sm-3">
            <section class="panel">
                <div class="panel-body" align="center">
                    <img ng-src="{{profesor.imagen}}" class="rounded-circle" alt="" width="150px" height="150px">
                </div>
            </section>
        </div>

        <!-- Div, donde se mostrará la bio del profesor -->
        <div class="col-sm-9">
            <section class="panel">
                <div class="panel-body">
                    <p>{{profesor.bio}}</p>
                    <p><strong>Edad:</strong> {{profesor.edad}} años</p>
                </div>
            </section>
            <button class="btn btn-primary" ng-click="editar()">Editar</button>
        </div>
    </div><!-- End Row -->
    <div ng-show="formVisible">
        <div class="row mb-3">
            <div class="col-3">
                <p>Nombre:</p>
                <input class="form-control" type="text" ng-model="editando.nombre">
            </div>
            <div class="col-3">
                <p>Edad:</p>
                <input class="form-control" type="text" ng-model="editando.edad">
            </div>
            <div class="col-3">
                <p>Bio:</p>
                <input class="form-control" type="text" ng-model="editando.bio">
            </div>
        </div>
        <button class="btn btn-success" ng-click="guardar()">Guardar</button>
        <button class="btn btn-danger" ng-click="cancelar()">Cancelar</button>
    </div>
</div><!-- End profesorCtrl -->

<div ng-controller="videoCtrl as vc">
    <h4>{{vc.video.nombre | uppercase}}</h4>

    <hr>

    <div class="row">

        <!-- Div que contiene la imagen del profesor -->
        <div class="col-sm-3">
            <section class="panel">
                <div class="panel-body" align="center">
                    <img ng-src="{{vc.video.imagen}}" class="rounded-circle" alt="" width="150px" height="150px">
                    <p class="btn-like mt-2" ng-click="vc.video.likes = vc.video.likes+1"><i
                            class="fas fa-heart text-danger mr-2"></i>{{vc.video.likes}} likes</p>
                </div>
            </section>
        </div>

        <!-- Div, donde se mostrará la bio del profesor -->
        <div class="col-sm-9">
            <section class="panel">
                <div class="panel-body">
                    <p>{{vc.video.bio}}</p>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Enu3Oy6_L-I" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </section>
        </div>
    </div><!-- End Row -->
</div><!-- End videoCtrl -->