<!DOCTYPE html>
<html lang="es" ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Angular JS -->
    <script src="js/angular.min.js"></script>

    <!-- Estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

    <title>Angular JS Project</title>
</head>
<body>
    <h1>Wellcome to HELL: AngularJS</h1>
    <main class="container">
        <h2>Filtros : Filters</h2>

        <hr>

        <a href="https://docs.angularjs.org/api/ng/filter" target="_blank">Documentation</a>

        <p>
            <ul class="list-group">
                <li class="list-group-item"><span class="badge badge-primary">uppercase</span> {{ 'uppercase' | uppercase }}</li>
                <li class="list-group-item"><span class="badge badge-primary">lowercase</span> {{ 'LOWERCASE' | lowercase }}</li>
                <li class="list-group-item"><span class="badge badge-primary">date</span> {{ '1288323623006' | date }}</li>
                <li class="list-group-item"><span class="badge badge-primary">date:medium</span> {{ '1288323623006' | date:'medium' }}</li>
                <li class="list-group-item"><span class="badge badge-primary">date</span> {{ '1288323623006' | date:'dd/MM/yyyy' }}</li>
                <li class="list-group-item"><span class="badge badge-primary">number:0</span> {{ '0004556263.5671678' | number:0}}</li>
                <li class="list-group-item"><span class="badge badge-primary">number:4</span> {{ '-0004556263.5671678' | number:4}}</li>
                <li class="list-group-item"><span class="badge badge-primary">currency</span> {{ 1234.56 | currency }}</li>
            </ul>
        </p>

        <h2>Directiva ng-model</h2>

        <p>
            Su nombre: {{nombre}}
            <br>
            <input class="form-control" type="text" ng-model="nombre" placeholder="Dime tu nombre">
        </p>

        <p>
            Seleccione pais: {{pais}}
            <select class="form-control" ng-model="pais">
                <option value="1">España</option>
                <option value="2">Pais Vasco</option>
                <option value="3">Cataluña</option>
            </select>
        </p>

        <p>Seleccione genero: {{genero}}</p>
        <p>
            <input type="radio" ng-model="genero" value="M">Masculino
            <input type="radio" ng-model="genero" value="F">Femenino
            <input type="radio" ng-model="genero" value="I">Indefinido
        </p>

        <p>Tus gustos: g1: {{g1}} g2: {{g2}} g3: {{g3}} g4: {{g4}} g5: {{g5}}</p>
        <p>
            <input type="checkbox" ng-model="g1">Musica<br>
            <input type="checkbox" ng-model="g2">Bromas<br>
            <input type="checkbox" ng-model="g3">Animales<br>
            <input type="checkbox" ng-model="g4">Lectura<br>
            <input type="checkbox" ng-model="g5">Gaming<br>
        </p>
    </main>

    <!-- Scripts de Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>