<h2>Pokémon: The API</h2>
<hr>

<div ng-controller="pokemonController">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th ng-click="busqueda = 'n'" scope="col">Nº</th>
                <th scope="col">Foto</th>
                <th ng-click="busqueda = 'name'" scope="col">Nombre</th>
                <th ng-click="busqueda = 'type'" scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pokemon in pokemons | orderBy : busqueda">
                <td>
                    <a ng-href="#!/pokemon/{{pokemon._id}}">{{pokemon.n}}</a>
                </td>
                <td>{{pokemon.picture}}</td>
                <td>{{pokemon.name}}</td>
                <td ng-repeat="tipo in tipos">{{pokemon.type | capitalizar}}</td>
            </tr>
        </tbody>
    </table>
</div>